body {
	padding-top: 50px;
}

textarea {
	margin-top:10px;
	width:98%;
}

.about {
	padding: 40px 15px;
	text-align: center;
}

.footer {
	padding: 40px 15px;
	text-align: center;
}

[class*="col-"], footer {
	border-radius: 6px;
	line-height: 40px;
	text-align: center;
}